<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <meta charset="UTF-8">
    <meta name="robots" content="noindex"/> <!-- index,follow"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Bioclass Classe Python">
    <meta property="og:description" content="Ajuda Bioclass">
    <meta id="icon" property="og:image" content="https://atende.dev.br/ufmg/logo.png">
    <meta property="og:url" content="https://ajudabioclass.onrender.com">
    <title>Bioclass Ajuda</title>

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/compile.css') }}">

  </head>
    <body> <!-- class="bg-light text-dark"-->
        <div class="vertical-nav bg-white" id="sidebar">
          <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
              <div class="media-body">
                <h4 class="m-0">Bioclass Help</h4>
                <p class="font-weight-light text-muted mb-0">Bioinformática</p>
              </div>
            </div>
          </div>

          <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Índice</p>

          <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
              <a href="#introducao" class="nav-link text-dark font-italic bg-light">
                        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        Introdução
                    </a>
            </li>
            <li class="nav-item">  
              <a href="#estrutura" class="nav-link text-dark font-italic">
                        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                        Estrutura
                    </a>
            </li>
            <li class="nav-item">
              <a href="#atributos" class="nav-link text-dark font-italic">
                        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                        Atributos
                    </a>
            </li>
            <li class="nav-item">
              <a href="#metodos" class="nav-link text-dark font-italic">
                        <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                        Métodos
                    </a>
            </li>
          </ul>

          <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Vídeos</p>

          <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
              <a href="#video1" class="nav-link text-dark font-italic">
                        <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                        Vídeo1
                    </a>
            </li>
            <li class="nav-item">
              <a href="#video2" class="nav-link text-dark font-italic">
                        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                        Vídeo2
                    </a>
            </li>
            <li class="nav-item">
              <a href="#video3" class="nav-link text-dark font-italic">
                        <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                        Vídeo3
                    </a>
            </li>
            <li class="nav-item">
              <a href="#video4" class="nav-link text-dark font-italic">
                        <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                        Vídeo4
                    </a>
            </li>
          </ul>
        </div>
        
        <!-- End vertical navbar -->


        <!-- Page content holder -->
        <div class="page-content p-5" id="content">
          <!-- Toggle button -->
          <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"></small></button>

          <section id="introducao"  class="section">
            <!-- Demo content -->
            <!-- Autores-->
            <div id="autores" >
              <div class="d-flex justify-content-end">
                
                  <div class="media d-flex align-items-center"><img src="{{ url_for('static', filename='img/_fred.png') }}" alt="..." width="64" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                                                                         
                    <div class="media-body">
                      <h4 class="m-0">Fredy</h4>
                      <p class="font-weight-light text-muted mb-0">fredyvp@ufmg.br</p>
                    </div>
                  </div>
                

                
                  <div class="media d-flex align-items-center"><img src="{{ url_for('static', filename='img/_paulo.png') }}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                      <h4 class="m-0">Paulo</h4>
                      <p class="font-weight-light text-muted mb-0">paulo-rocha@ufmg.br</p>
                    </div>
                  </div>    
                
                
                  <div class="media d-flex align-items-center"><img src="{{ url_for('static', filename='img/_rodrigo.png') }}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                      <h4 class="m-0">Rodrigo</h4>
                      <p class="font-weight-light text-muted mb-0">rod.jereissati@gmail.com</p>
                    </div>
                  </div>      
                
              </div>  
            </div>
                



            <h2 class="display-4">Bioclass Python - Bioinformática</h2>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Procurar" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search active" aria-hidden="true" style="color:white"></i></button>
              </div>
            </div>
                      <br/><br/><br/>   
            
            <p class=" mb-0 mr-10">Este é o resultado de um trabalho dos alunos da disciplina de Ambientes de Computação da Pós Graduação do Departamento de Ciência da Computação da UFMG, 2024.</p>
            <p class="">Código fonte: <a href="https://github.com/paulo-ufmg/Bioclass" class="text-primary" target="_blank">
                <u>Github</u></a>
            </p>
            <div class="separator"></div>
            <div class="row mr-10">
              <div class="col-xs-12">
                <p class="">A biblioteca Bioclass, tem o objetivo didádico para construção de scripts para um conjunto de códigos de software destinadas a aplicações em bioinformática. Seu principal objetivo é fornecer uma introdução a bioinformática com suas  análise de dados biológicos e a resolução de problemas comuns, tais como a manipulação de sequências de DNA, RNA e proteínas</p>

                <h5>Exemplo de Uso</h5>
                <p class="">A forma básica para usar a ferramenta Bioclass para ler um arquivo FASTA e calcular a frequência de nucleotídeos em uma sequenca de DNA:.
                </p>
                <pre class="pre-scrollable bg-dark text-light p-3 border border-primary rounded">
                  <span class="text-success"># importa a classe Bioprof da biblioteca Bioclass</span>
                  from Bioclass import Bioprof

                  <span class="text-success"># Instancia o objeto seq com a classe Bioprof</span>
                  seq = Bioprof()

                  <span class="text-success"># Carrega sequências de um arquivo FASTA e armazena todas em sua biblioteca</span>
                  seq.leiaArquivoFasta(nome_do_arquivo_fasta) 

                  <span class="text-success"># Os método da Classe Bioprof recebe como argumento uma string com o id da sequência ou um int (index da sequencia armazenada)</span>
                  print(f"Frequência de nucleotídeo: {seq.get_composicao_seq(id_da_sequenicia)}")

                </pre>


                <div class="bg-white p-5 rounded my-5 shadow-sm">
                  <h5>Conclusão</h5>
                  <p class=" font-italic mb-0">"A Bioclass é uma biblioteca para efeitos didáticos para iniciantes em bioinformática para demonstrar como desenvolver uma programação utilizando o paradigma orientada a objeto para construção de ferramentas que facilita o trabalho com dados biológicos em Python. Ela permite introduzir conceitos básico para construção de códigos para análises complexas de maneira eficiente e rápida, contribuindo significativamente para construção de códigos para avanços na pesquisa biológica e médica.."</p>
                </div>
                <p class="">
                </p>
              </div>
            </div>
          </section>  

        
          <section id="estrutura"  class="section"><h2>Estrutura da Classe</h2></section>
          <section id="atributos" class="section"><h2>Atributos da Classe</h2></section>
          <section id="metodos"   class="section"><h2>Métodos da Classe</h2>
            <div class="separator"></div> 
          
            <p class="text-primary"><strong><i>def adiciona_seq(self,n1,n2,n3):</i></strong>
            <span class="text-waring d-block">"""Insere uma sequência através de código"""</span></p>
            <ul><li>#n1 - string com a identificação da sequência</li>
                <li>#n2 - string com informações sobre a sequência</li>
                <li>#n3 - srting da seqUencia</li>
            </ul>    
            <span class="pratique" data-target="adiciona_seq">
              <img src="{{ url_for('static', filename='img/pratique.png') }}" width="64" class="img-fluid" alt="Example Icon">
              Pratique!
            </span>  

            <div id="adiciona_seq" class="ide" data-code="">
              {% include 'help_bar_code.html' %}
              <textarea id="code" placeholder="# Insira seu código aqui" spellcheck="false">

from Bioclass import Bioprof # importa a classe Bioprof da biblioteca Bioclass

seq = Bioprof() # instancia o objeto Bioprof

#Digite abaixo o comanto para adicionar uma sequência ao objeto seq



print(seq.get_seqs()) #Exibe a biblioteca de sequencias armazenadas no objeto


              </textarea><br>
              <button class="executar" type="button">Executar</button>
              <button class="limpar" type="button">Limpar</button>
              <div id="resultado"></div>
            </div>
            <!-- =================================== -->  
            <div class="separator"></div> 
            <p class="text-primary"><strong><i>def leiaArquivoFasta(self,nome_arquivo):</i></strong>
              <span class="text-waring d-block"> """ Lê  todas as sequências de um arquivo Fasta """</span></p>
              
              <span class="pratique" data-target="leiaArquivoFasta">
                <img src="{{ url_for('static', filename='img/pratique.png') }}" width="64" class="img-fluid" alt="Example Icon">
                Pratique!
              </span>  
                <div id="leiaArquivoFasta" class="ide" data-code="">
                  {% include 'help_bar_code.html' %}
                  <textarea id="code" placeholder="# Insira seu código aqui" spellcheck="false"></textarea><br>
                  <button class="executar" type="button">Executar</button>
                  <button class="limpar" type="button">Limpar</button>
                  <div id="resultado"></div>
                </div>
            <!-- =================================== -->  
            <div class="separator"></div> 
            <p class="text-primary"><strong><i>def get_seqs(self):</i></strong>
              <span class="text-waring d-block"> """Retorna a lista de sequencias registradas"""</span></p>
              
              <span class="pratique" data-target="get_seqs">
                <img src="{{ url_for('static', filename='img/pratique.png') }}" width="64" class="img-fluid" alt="Example Icon">
                Pratique!
              </span>  
                <div id="def_get_seqs" class="ide" data-code="">
                  {% include 'help_bar_code.html' %}
                  <textarea id="code" placeholder="# Insira seu código aqui" spellcheck="false"></textarea><br>
                  <button class="executar" type="button">Executar</button>
                  <button class="limpar" type="button">Limpar</button>
                  <div id="resultado"></div>
                </div>
            <!-- =================================== -->  
            <div class="separator"></div> 
          </section>
          <section id="video1"    class="section"><h2>Video 1</h2></section>
          <section id="video2"    class="section"><h2>Video 2</h2></section>
          <section id="video3"    class="section"><h2>Video 3</h2></section>
          <section id="video4"    class="section"><h2>Video 4</h2></section>

        </div>
        <!-- End demo content -->
        
</body>
<script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/ajuda.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/compile.js') }}"></script>
<script language="javascript" type="text/javascript" src=""></script>
<script language="javascript" type="text/javascript" src=""></script>
<script language="javascript" type="text/javascript" src=""></script>

</html>

        
        
        